<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>RockPaperScissors</title>
</head>
<body>
    <div class="w3-monospace">
    <div class="w3-row-padding w3-section">
        <% if (fight) { %>
        <div class="w3-center">
            <h1><%= Players[0].username %>, Chat Power: <%= Players[0].chatPower %> </h1>
            <h1> Vs. </h1>
            <h1><%= Players[1].username %>, Chat Power: <%= Players[1].chatPower %> </h1>
        </div>
        <div class="w3-half">
            <div class="w3-card w3-center">
                <% if (PlayerMoves[0] != "null" && PlayerMoves[1] != "null") { %>

                    <% if (PlayerMoves[0] == "!rock") { %>
                        <h1> ROCK </h1>
                    <% } else if (PlayerMoves[0] == "!paper") { %>
                        <h1> PAPER </h1>
                    <% } else if (PlayerMoves[0] == "!scissors") { %>
                        <h1> SCISSORS </h1>
                    <% } %>
    
                <% } else if (PlayerMoves[0] != "null" && PlayerMoves[1] == "null") {%>
                    <h1> Player 1 has chosen </h1>
                <% } %>
            </div>
        </div>

        <div class="w3-half">
            <div class="w3-card w3-center">
            <% if (PlayerMoves[0] != "null" && PlayerMoves[1] != "null") { %>

                <% if (PlayerMoves[1] == "!rock") { %>
                    <h1> ROCK </h1>
                <% } else if (PlayerMoves[1] == "!paper") { %>
                    <h1> PAPER </h1>
                <% } else if (PlayerMoves[1] == "!scissors") { %>
                    <h1> SCISSORS </h1>
                <% } %>

            <% } else if (PlayerMoves[1] != "null" && PlayerMoves[0] == "null") {%>
                <h1> Player 2 has chosen </h1>
            <% } %>
            </div>
        </div>
        <% } %>

    </div>
    </div>

</body>
</html>